@use '../themes/defaultTheme' as *;
@use '../util' as *;

main {
	width: 100%;
	min-height: 100vh;

	color: white;

	display: flex;
	align-items: center;
	justify-content: flex-start;

	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url("background.svg"), black;

	.attribute-footer {
		align-self: flex-start;
		justify-self: flex-end;

		padding: 5px;
	}
}
