@use '../themes/defaultTheme' as *;
@use '../util' as *;

.checked-websites {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

	.noResults {
		color: $red-light;
		font-weight: bolder;
	}

	.search-bar {
		width: 90vw;
		max-width: 25rem;
		color: $secondary-4;
		outline: none;

		margin: 2rem 0rem 1rem 0rem;

		padding: 0.5rem 0rem 0.5rem 0rem;
		font-size: 1rem;

		border-bottom: 0.15rem solid $secondary-4;

		transition: $transition;

		&:focus {
			color: $primary-4;
			border-bottom: 0.15rem solid $primary-4;
		}
	}

	ul {
		flex-grow: 2;
		min-height: 50%;

		width: 100%;
		margin-top: 2rem;
		margin-bottom: 2rem;

		display: flex;
		flex-direction: column;
		align-items: center;

		gap: 1rem;

		li {
			background: $white;
			border-radius: $radius;

			display: flex;
			justify-content: space-between;
			align-items: center;

			color: $black;

			width: 98%;
			padding: 1rem;

			max-width: 90vw;

			@include tablet {
				max-width: 50vw;
			}

			.address {
				font-weight: bolder;

				vertical-align: center;

				overflow: hidden;

				width: 12rem;

				cursor: default;
			}

			.sections {
				display: flex;
				width: min-content;
				align-items: center;
				justify-content: space-evenly;

				cursor: default;

				flex-grow: 2;

				gap: 0.5rem;

				.section {
					display: flex;
					text-transform: uppercase;
					color: $grey-4;

					align-items: center;
					justify-content: flex-start;

					gap: 0.25rem;

					.icon {
						border-radius: 50%;

						width: 1.25rem;
						height: 1.25rem;

						color: white;
						display: flex;
						align-items: center;
						justify-content: center;

						&.yes {
							background-color: #77dd77;

							padding-right: 1px;
							padding-top: 3px;
						}

						&.no {
							background-color: tomato;
						}
					}
				}
			}

			.buttons {
				display: flex;
				align-items: center;
				justify-content: space-between;

				width: 15%;
				max-width: 3rem;
				min-width: 2.5rem;

				a {
					&:visited {
						color: $primary-4;
					}
				}

				.btn {
					color: $primary-4;

					cursor: pointer;

					margin: 0;
					padding: 0.25rem;

					font-weight: 300;
					font-size: 1rem;

					transition: $transition;

					&:hover {
						color: $secondary-4;
					}
				}

				.delete-btn {
					&:hover {
						color: $red-light;
					}

				}
			}
		}
	}
}
