@use '../themes/defaultTheme' as *;
@use '../util' as *;

.website-input {
	width: 100vw;

	form {
		display: flex;
		align-items: center;
		justify-content: center;

		max-width: 80%;
		margin: 0 auto;

		gap: 2rem;

		input[type="text"] {
			color: $secondary-4;

			outline: none;

			font-size: 1.5rem;

			flex-grow: 2;

			padding-bottom: 0.33rem;

			border-bottom: 3px solid $secondary-4;

			transition: $transition;

			max-width: 24rem;

			&:focus {
				color: $primary-4;
				border-bottom: 3px solid $primary-4;
			}
		}
		input[type="submit"] {
			transition: $transition;

			background: $primary-4;
			padding: 0.8rem;
			border-radius: $radius;
			color: white;

			&:hover {
				transform: translateX(-3px) translateY(-3px);
				box-shadow: 3px 3px 0px $primary-3;
			}

			&:active {
				background: $primary-3;
				color: $white;

				transform: translateX(0px) translateY(0px);
				box-shadow: none;
			}
		}
	}
}
