// Dark shades of primary color
$primary-0: hsl(39, 100%, 0%);
$primary-1: hsl(39, 100%, 15%);
$primary-2: hsl(39, 100%, 27%);
$primary-3: hsl(39, 100%, 37%);
$primary-4: hsl(39, 100%, 47%); // The primary color.
$primary-5: hsl(39, 100%, 50%);
$primary-6: hsl(39, 100%, 67%);
$primary-7: hsl(39, 100%, 77%);
$primary-8: hsl(39, 100%, 87%);
$primary-9: hsl(39, 100%, 97%);
// Lighter shades of primary color.

// Darker shades of secondary color.
$secondary-0: hsl(0, 0%, 0%);
$secondary-1: hsl(0, 0%, 15%);
$secondary-2: hsl(0, 0%, 27%);
$secondary-3: hsl(0, 0%, 37%);
$secondary-4: hsl(0, 0%, 47%); // The secondary color.
$secondary-5: hsl(0, 0%, 57%);
$secondary-6: hsl(0, 0%, 67%);
$secondary-7: hsl(0, 0%, 77%);
$secondary-8: hsl(0, 0%, 87%);
$secondary-9: hsl(0, 0%, 97%);
// Lighter shades of secondary color.

// Darker shades of grey color.
$grey-0: hsl(210, 30%, 21%);
$grey-1: hsl(210, 30%, 29%);
$grey-2: hsl(210, 30%, 37%);
$grey-3: hsl(210, 30%, 45%);
$grey-4: hsl(210, 30%, 52%);
$grey-5: hsl(210, 30%, 60%);
$grey-6: hsl(210, 30%, 67%);
$grey-7: hsl(210, 30%, 74%);
$grey-8: hsl(210, 30%, 81%);
$grey-9: hsl(210, 30%, 88%);
// Lighter shades of grey color.

// Misc colors.
$white: #fcfcfc;
$black: #222;
$red-dark: hsl(0, 49%, 33%);
$red-light: hsl(0, 60%, 52%);
$green-dark: hsl(125, 67%, 50%);
$green-light: hsl(125, 67%, 67%);
