$transition: all 0.3s linear;
$spacing: 0.1rem;
$radius: 0.5rem;
$light-shadow: 0px 15px 15px rgba(0, 0, 0, 0.1);
$dark-shadow: 0px 15px 15px rgba(0, 0, 0, 0.3);
$max-width: 1170px; // Max width of the site.
$fixed-width: 620px; // The minimum width of the site or the max width of the content.
